/* @import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}

.creator {
  font-size: 14px;
  line-height: 16px;
  color: var(--ev-c-text-2);
  font-weight: 600;
  margin-bottom: 10px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

.tip {
  font-size: 16px;
  line-height: 24px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.react {
  background: -webkit-linear-gradient(315deg, #087ea4 55%, #7c93ee);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.ts {
  background: -webkit-linear-gradient(315deg, #3178c6 45%, #f0dc4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.actions {
  display: flex;
  padding-top: 32px;
  margin: -6px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.action {
  flex-shrink: 0;
  padding: 6px;
}

.action a {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  border-color: var(--ev-button-alt-border);
  color: var(--ev-button-alt-text);
  background-color: var(--ev-button-alt-bg);
}

.action a:hover {
  border-color: var(--ev-button-alt-hover-border);
  color: var(--ev-button-alt-hover-text);
  background-color: var(--ev-button-alt-hover-bg);
}

.versions {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  padding: 15px 0;
  font-family: 'Menlo', 'Lucida Console', monospace;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: #202127;
  backdrop-filter: blur(24px);
}

.versions li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
} */

body {
  margin: 0px;
  overflow: hidden;
}

.FilesPage {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 88%;
}

.FilesPage .row_1 {
  flex: 1;
  display: flex;
}

.FilesPage .row_1 .file_storage {
  text-align: center;
  font-size: 30px;
  flex: 1;
  padding: 20px;
  background-color: #f1e1bf;
  width: 30%;
  margin: 30px;
}

.FilesPage .row_1 .import_file {
  font-size: 30px;
  color: white;
  flex: 1;
  padding: 20px;
  background-color: #5b4040;
  width: 30%;
  transition-duration: 0.3s;
  border: none;
  margin: 30px;
}

.FilesPage .row_1 .import_file:hover {
  background-color: #997777!important;
  cursor: pointer;
  position: relative;
}

.FilesPage .files {
  flex: 5;
  overflow: auto;
}

.FilesPage .sort_by {
  font-size: 32px;
  margin-right: 20px;
  padding: 10px 15px;
}

.FilesPage .sorting_orders {
  margin-right: 32px;
}

.FilesPage .sorting_orders button {
  background-color: #f1e1bf;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 24;
  padding: 10px 20px;
  transition-duration: 0.3s;
  width: 120px;
  text-align: center;
}

.sorting_orders button:hover {
  background-color: #997777!important;
}

.FilesPage .files_header {
  font-size: 32px;
  display: flex;
  margin-top: 24px;
  padding: 12px;
  border-bottom: 2px solid black;
}

.FilesPage .icon_col {
  margin-left: 10px;
  flex: 0.1;
}

.FilesPage .name_col {
  flex: 0.5;
  cursor: pointer;
}

.FilesPage .last_modified_col {
  flex: 0.3;
  cursor: pointer;
}

.FilesPage .size_col {
  flex: 0.1;
  cursor: pointer;
}

.FilesPage .file_row {
  display: flex;
  border-bottom: 2px solid black;
  padding: 20px 12px;
}

.FilesPage .file_row div {
  font-size: 24px;
}