body {
  margin: 0px;
}

.FilesPage {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}

.FilesPage .row_1 {
  flex: 1;
  display: flex;
}

.FilesPage .row_1 .file_storage {
  text-align: center;
  font-size: 30px;
  flex: 1;
  padding: 20px;
  background-color: #f1e1bf;
  width: 30%;
  margin: 30px;
}

.FilesPage .row_1 .import_file {
  font-size: 30px;
  color: white;
  flex: 1;
  padding: 20px;
  background-color: #5b4040;
  width: 30%;
  transition-duration: 0.3s;
  border: none;
  margin: 30px;
}

.FilesPage .row_1 .import_file:hover {
  background-color: #997777!important;
  cursor: pointer;
  position: relative;
}

.FilesPage .files {
  flex: 5;
  overflow: auto;
}

.FilesPage .sort_by {
  font-size: 32px;
  margin-right: 20px;
  padding: 10px 15px;
}

.FilesPage .sorting_orders {
  margin-right: 32px;
}

.FilesPage .sorting_orders button {
  background-color: #f1e1bf;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 24;
  padding: 10px 20px;
  transition-duration: 0.3s;
  width: 120px;
  text-align: center;
}

.sorting_orders button:hover {
  background-color: #997777!important;
}

.FilesPage .files_header {
  font-size: 32px;
  display: flex;
  margin-top: 24px;
  padding: 12px;
  border-bottom: 2px solid black;
}

.FilesPage .icon_col {
  margin-left: 10px;
  flex: 0.1;
}

.FilesPage .hash_col {
  flex: 0.5;
}

.FilesPage .name_col {
  flex: 0.5;
  cursor: pointer;
}

.FilesPage .last_modified_col {
  flex: 0.3;
  cursor: pointer;
}

.FilesPage .size_col {
  flex: 0.1;
  cursor: pointer;
}

.FilesPage .price_col {
  flex: 0.2;
  cursor: pointer;
}

.FilesPage .delete_col {
  flex: 0.05;
  cursor: pointer;
}

.FilesPage .file_row {
  display: flex;
  border-bottom: 2px solid black;
  padding: 20px 12px;
}

.FilesPage .file_row div {
  font-size: 24px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type="number"]{
  -moz-appearance: textfield;
}
