[submodule "backend/btcd"]
	path = backend/btcd
	url = git@github.com:josephhanrahan/btcd.git
[submodule "backend/btcwallet"]
	path = backend/btcwallet
	url = git@github.com:tahsina13/btcwallet.git
[submodule "backend/cgminer"]
	path = backend/cgminer
	url = https://github.com/ckolivas/cgminer.git
